canvas {
    margin: 0 auto;
}

body {
    background: #0B0C10;
    font-family: 'Source Sans Pro', sans-serif;
}

.navbar-brand.navTitle {
    color: #E1E1E1 !important;
    font-size: xx-large;
    font-weight: 700;
}

.navSubTitle {
    color: #66FCF1;
    font-weight: 400;
    font-size: medium;
}

#game > canvas {
    box-shadow: 0px 0px 10px 5px #45A29E;
}